@{
    ViewBag.Title = "Футбольный магазин";
}

<header>

        <img class="img" src="~/Content/Header1.jpg" alt="Foto">
        <div class="text">
            <h1>
                Футбольный интернет-магазин 
            </h1>
            <p>
                Если вы любите футбол и не представляете свою жизнь без спорта – наш интернет магазин спортивной одежды и 
                товаров для футбола поможет вам приобрести все необходимое для тренировок или игр. 
                Мы сформировали весь ассортимент, исходя из практического опыта игры в профессиональный и любительский футбол и 
                если вы не знаете где купить качественную спортивную одежду, обувь и аксессуары – просто звоните! 
                Интернет магазина "   " — это огромный выбор моделей популярных брендов Nike, Adidas, Under Armour, Puma, Joma, 
                Givova, Lotto, Diadora, Mizuno по самым конкурентным ценам в Украине. 
                Теперь вам не придется терять огромное количество времени на походы в торговые центры и поиски профессиональной 
                атрибутики. Футбольный интернет магазин — это идеальный вариант для тех, кто хочет заказать фирменную продукцию не выходя из дома.
                Все, что вам необходимо — удобнее устроиться на диване и выбрать необходимые товары для спорта.
                Динамика, четкая траектория и техника в сочетании с качественной экипировкой – вот что отличает современный футбол. 
                Разрабатывая линии спортивной одежды, мировые производители учли все возможные нюансы, чтобы вывести игру на новый уровень. У нас представлены модели, в которых вы сможете достигать лучших результатов. Основные преимущества нашей футбольной обуви это использование качественных износостойких материалов, идеальная посадка и адаптация к форме ноги, оптимальный вес, технология терморегуляции, при которой нога не перегревается во время бега и игры. На сайте rabona.com.ua вы сможете купить футбольную форму и одежду для тренировок самого высокого качества.
            </p>
        </div>
            
</header>
