<?xml version="1.0" encoding="utf-8"?>
<!--
Этот файл используется процессом публикации или упаковки вашего веб-проекта. Можно настроить поведение этого процесса,
изменив этот файл MSBuild. Подробности см. на странице https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/3ab68fa7-c38b-419c-a378-48370b7e0770/resourcegroups/myResourceGroup1/providers/Microsoft.Web/sites/TheFootballShop1</ResourceId>
    <ResourceGroup>myResourceGroup1</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://thefootballshop1.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>thefootballshop1.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>TheFootballShop1</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$TheFootballShop1</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="Football_ShopEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:thefootballshop1dbserver.database.windows.net,1433;Initial Catalog=TheFootballShop1_db;User ID=Andrey@thefootballshop1dbserver;Password=l04a12w98.19" Name="Data Source=tcp:thefootballshop1dbserver.database.windows.net,1433;Initial Catalog=TheFootballShop1_db;User Id=Andrey@thefootballshop1dbserver;Password=l04a12w98.19" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Football_Shop.Models.ProductContext, Football_Shop" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="Football_ShopEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.Football_Shop.csdl|res://*/Models.Football_Shop.ssdl|res://*/Models.Football_Shop.msl;provider=System.Data.SqlClient;provider connection string="Data Source=tcp:thefootballshop1dbserver.database.windows.net,1433;Initial Catalog=TheFootballShop1_db;User Id=Andrey@thefootballshop1dbserver;Password=l04a12w98.19"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>