@model Football_Shop.Models.Balls

@{
    ViewBag.Title = "Details";
}



<div>
    <h4>Balls</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name_product)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name_product)
        </dd>

    </dl>
</div>
